{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          // Add aliases here for absolute path imports
          // "test": "./test"
        }
      }
    ]
  ]
}